<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="bob" class="com.mycompany.app.Clown">
        <property name="jokes" value="25" />
    </bean>

    <bean id="shevchenko" class="com.mycompany.app.Shevchenko"/>

    <bean id="poeticDuke" class="com.mycompany.app.PoeticClown">
        <constructor-arg value = "15"/>
        <constructor-arg ref="shevchenko"/>
    </bean>

    <bean id="shapito" class="com.mycompany.app.Circus">
        <constructor-arg>
            <list>
                <ref bean="poeticDuke"/>
                <ref bean="bob"/>
            </list>
        </constructor-arg>
    </bean>

</beans>